#Barra-de-menu{

    background-color: #666666;

    color: white;

}

#Barra-de-menu a{

    color: white;
    font-size: 15px;

}


.navbar-toggler {

    border: 0px;

}


.dropdown-menu{

    background-color: #666666;
    width: 100%;
    border-radius: 2em;

}


.dropdown-menu a:hover{
background-color: #00aaff;
border-radius: 2em;

}

#card .card{

    background-color: #666666;
    color: white;
    border-radius: 1em;


}


#card button{
    width: 100%;
    font-size: 15px;
    border: none;
    background-color: #00aaff;
    border-radius: 1em;
    color: white;
}


